.bg-text{
  position: absolute;
  margin: 0;
  padding: 0;
  font-family: 'Acrom';
  font-weight: 900;
  font-size: 182px;
  width: 180px;
  color: #f2f2f2;
  text-transform: uppercase;
  // writing-mode: vertical-rl;
  // writing-mode: tb-rl;
  white-space: nowrap;
  z-index: -1;
  transform: rotate(90deg);

  &:nth-child(1){
    top: 576px;
    right: 205px;
  }

  &:nth-child(2){
    top: 1895px;
    right: 10px;
    letter-spacing: -0.08em;
  }

  @include mobile{
    display: none;
  }

  @include tablet{
    // display: none;
  }
}

.course{
  margin-bottom: 140px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 0 83px 0;

  @include mobile{
    //flex-direction: column;
    //align-items: center;
    display: block;
  }
}

.header__logo{
  @extend %image;

  @include mobile{
    margin: 0 auto 15px;
  }
}

.header__contacts{
  display: flex;
  align-items: center;
  font-family: $main-font;
  font-size: 11px;
  font-weight: 500;
  line-height: 14px;

  @include mobile{
    justify-content: center;
  }
}

.header__email{
  margin-right: 15px;
  line-height: 17px;
  display: flex;
  align-items: center;

  &::before{
    content: '';
    display: inline-block;
    background-image: url(../img/envelope.svg);
    width: 17px;
    height: 15px;
    margin-right: 4px;
  }
}

.header__phone{
  display: flex;
  align-items: center;

  &::before{
    content: '';
    display: inline-block;
    background-image: url(../img/phone.svg);
    width: 12px;
    height: 12px;
  }
}

.course-title{
  @extend %article-title;
  margin-bottom: 58px;
  
  @include mobile{
    text-align: center;
  }
}

.course-title--inverted{
  @extend %inverted-colors;
}

.course-keypoints{
  width: 50%;
  min-width: 300px;
  margin-bottom: 54px;
}

.course-keypoints__item{
  padding-left: 100px;
  position: relative;
  font-family: $main-font;
  font-size: 21px;
  font-weight: 700;
  line-height: 27px;
  color: $title-dark-color;

  @include mobile{
    padding-left: 60px;
  }

  &::before{
    content: '';
    position: absolute;
    top: 6px;
    left: 0px;

    display: inline-block;
    background-color: $title-dark-color;
    width: 56px;
    height: 8px;

    @include mobile{
      width: 40px;
    }
  }

  &:not(:last-child){
    margin-bottom: 22px;
  }
}

.course-description{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 100px;
  @include mobile{
    //flex-direction: column;
    display: block;
  }
}


.course-description__image-container{
  margin-right: 2%;
  flex-basis: 49%;
  @include mobile{
    display: flex;
    justify-content: center;
  }
}

.course-description__image{
  @extend %image;
}

.course-description__description-container
{
  flex-basis: 49%;
  @include mobile{
    text-align: center;
  }
}

.course-description__description-title{
  @extend %section-title;
  margin-bottom: 36px;
  position: relative;
  padding-top: 32px;

  &::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    background-color: $title-dark-color;
    width: 16px;
    height: 16px;
    @include mobile{
      display: none;
    }
  }

  @include mobile{
    padding-top: 18px;
    margin-bottom: 20px;
  }
}

.course-description__description-text{
  //font-family: $main-font;
  //font-size: 17px;
  //font-weight: 400;
  line-height: 25px;
  //color: $section-text-color;
}