@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

.program {
  font-family: $main-font;

  &__list {
    display: flex;
    flex-wrap: wrap;
    counter-reset: count-box; //Counter
    padding-bottom: 81px;
  }
}

.article-title {
  @extend %article-title;
  display: inline-block;
  margin-bottom: 60px;
  
  &--invert-color {
    @extend %inverted-colors;
  }
}

.program-item {
  padding-right: 2%;

  &:nth-of-type(3n) {
    padding-right: 0;
  }
  flex-basis: 32%;
  @include tablet {
    flex-basis: 48%;
    @include tablet {
      &:nth-of-type(even) {
        padding-right: 0;
      }
      
      &:nth-of-type(3n) {
        padding-right: 2%;
      }
    }
  }
  @include mobile {
    flex-basis: 100%;
    padding-right: 0;
  }
  display: flex;
  counter-increment: count-box; //Counter
  
  &__number {    
    // background-color: rgba(59, 238, 149, 0.2);
    font-weight: 900;
    position: relative;
    overflow: hidden;

    &::before {
      position: absolute;
      left: -15px;
      content: "0"counter(count-box)"."; //Counter
      font-size: $title-h3-font-size;
    }

    &::after {
      position: absolute;
      left: 38px;
      top: 50px;
      width: 8px;
      height: 8px;
      background-color: $mark-color;
      content: "";
    }
  }

  &__inner {  //inner for program-item__pretitle, title, text
    padding-left: 26%;
    padding-bottom: calculateRem(27px);
    // outline: 1px solid rgba(224, 63, 144, 0.2);
  }

  &__pretitle {
    margin: 0;
    font-size: $title-h4-font-size;
    text-transform: uppercase;
    font-weight: 900;

    &::before {
      content: "блок "counter(count-box)"."; //Counter
      @extend %inverted-colors;
    }
  }

  &__title {
    margin: 0;
    padding-top: calculateRem(2px);
    padding-bottom: calculateRem(7px);
    font-size: $title-h4-font-size;
    text-transform: uppercase;
    font-weight: 900;
    line-height: calculateRem(20px);
  }
  
  &__text {
    font-size: $title-h4-font-size;
    font-weight: 400;
  }

}
