.section-titles {
  @extend %section-title;
  margin-bottom: 30px;
}

.usages {
  margin-bottom: 102px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    font-size: $text-font-size;
    font-family: $section-font;
    line-height: 20.83px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 216px;
    height: 80px;
    box-shadow: -5px 6px 17px 4px rgba(0, 0, 0, 0.11);
    margin-right: 100px;
    margin-bottom: 48px;
    padding: 5px;
    text-align: center;
    border-left: 4px solid #ff5600;
    position: relative;
    background-color: #fff;

    &:after {
      content: "";
      width: 88px;
      height: 7px;
      position: absolute;
      background-repeat: no-repeat;
      left: 102%;
    }

    &--first {
      order: 8;
    }

    &--second {
      order: 9;
    }

    &--third {
      order: 10;
      margin-right: 0px;
    }

    &--fourth {
      order: 13;
      margin-right: 0px;
    }

    &--fifth {
      order: 12;
    }

    &--sixth {
      order: 11;
    }

    &--seventh {
      order: 14;
      margin-right: 0px;
      margin-bottom: 0px;
    }

    &--first:after,
    &--second:after {
      background-image: url(../img/vector-1.png);
    }

    &--third:after {
      background-image: url(../img/vector-2.png);
      left: 50%;
      width: 7px;
      height: 32px;
      top: 104%;
    }

    &--fourth:after, &--fifth:after {
      background-image: url(../img/vector-1.png);
      width: 88px;
      height: 7px;
      transform: rotateY(180deg);
      left: -45%;
      top: 50%;
    }

    &--sixth:after {
      background-image: url(../img/vector-3.png);
      width: 204px;
      height: 83px;
      left: 50%;
      top: 104%;
    }
  }
}

.pug {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  pointer-events: none;
  transition: 0.1s;
  background-image: url('../img/pug.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 600px) and (max-width: 992px) {
  .usages__list {
    max-width: 532px;
    margin: 0 auto;
  }

  .usages__item {
    margin-right: 0px;

    &--first {
      order: 8;
      margin-right: 100px;
    }

    &--second {
      order: 9;
    }

    &--third {
      order: 11;
      margin-right: 0px;
    }

    &--fourth {
      order: 10;
      margin-right: 100px;
    }

    &--fifth {
      order: 12;
      margin-right: 100px;
    }

    &--sixth {
      order: 13;
    }

    &:last-child {
      margin-right: 0px;
    }

    &--second:after, &--fourth:after {
      background-image: url(../img/vector-2.png);
      transform: rotateY(180deg);
      width: 7px;
      height: 32px;
      left: 50%;
      top: 104%;
    }

    &--third:after {
      background-image: url(../img/vector-1.png);
      transform: rotateY(180deg);
      width: 204px;
      height: 83px;
      left: -100%;
      top: 50%;
    }


    &--fifth:after {
      transform: rotateY(0deg);
      left: 102%;
    }

    &--sixth:after {
      background-image: url(../img/vector-2.png);
      width: 204px;
      height: 83px;
      top: 104%;
      left: 15%;
    }
  }
}

@media (min-width: 0px) and (max-width: 599px) {
  .usages__list {
    max-width: 256px;
    min-width: 236px;
    margin: 0 auto;
  }

  .usages__item {
    margin-right: 0px;

    &::after {
      background-image: url(../img/vector-2.png);
      width: 7px;
      height: 32px;
      top: 104%;
      left: 50%;
    }

    &--fourth {
      order: 12;
    }

    &--sixth {
      order: 13;
    }

    &--seventh::after {
      background-image: none;
    }
  }
}
