.section-titles{
  @extend %section-title;
  margin-bottom: 35px;
}

.usages__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 848px;
}

.usages__item {
  font-size: $text-font-size;
  font-family: $section-font;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 216px;
  height: 80px;
  flex-wrap: wrap;
  box-shadow: -5px 6px 17px 4px rgba(0, 0, 0, 0.11);
  margin-right: 100px;
  margin-bottom: 48px;
  padding: 10px;
  text-align: center;
  border-left: 4px solid #ff5600;
  position: relative;

  &:nth-child(3n) {
    margin-right: 0px;
  }

  &:last-child{
    margin-right: 0px;
    margin-bottom: 105px;
  }

  &:after {
    content: '';
    width: 88px;
    height: 7px;
    position: absolute;
    background-repeat: no-repeat;
    left: 102%;
  }
}

.usages__item--first:after {
  background-image: url(../../img/vector-1.png);
}

.usages__item--second:after {
  background-image: url(../../img/vector-1.png);
}

.usages__item--third:after {
  background-image: url(../../img/vector-2.png);
  left: 50%;
  width: 7px;
  height: 32px;
  top: 104%;
}

.usages__item--sixth:after, .usages__item--fifth:after {
  background-image: url(../../img/vector-1.png);
  width: 88px;
  height: 7px;
  transform: rotateY(180deg);
  left: -45%;
}

.usages__item--fourth:after {
  background-image: url(../../img/vector-3.png);
  width: 204px;
  height: 83px;
  left: 50%;
  top: 105%;
}

@media (min-width: 768px) and (max-width: 870px) {
  .usages__container {
    max-width: 532px;
    margin: 0 auto;
  }

  .usages__item {
    margin-right: 0px;
  }

  .usages__item:nth-child(odd) {
    margin-right: 100px;
  }

  .usages__item:last-child {
    margin-right: 0px;
  }

  .usages__item--second:after {
    background-image: url(../../img/vector-2.png);
    transform: rotateY(180deg);
    width: 7px;
    height: 32px;
    left: 50%;
    top: 104%;
  }

  .usages__item--fourth:after {
    background-image: url(../../img/vector-1.png);
    transform: rotateY(180deg);
    width: 204px;
    height: 83px;
    left: -102%;
    top: 50%;
  }

  .usages__item--fifth:after {
    transform: rotateY(0deg);
    left: 102%;
  }

  .usages__item--sixth:after {
    background-image: url(../../img/vector-2.png);
    width: 204px;
    height: 83px;
    top: 104%;
    left: -75%;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .usages__container {
    max-width: 236px;
    margin: 0 auto;
  }

  .usages__item {
    margin-right: 0px;
  }

  .usages__item::after {
    background-image: url(../../img/vector-2.png);
    width: 7px;
    height: 32px;
    top: 104%;
    left: 50%
  }

  .usages__item--seventh::after {
    background-image: none;
  }

  
}
