$tablet-break-point: 768px;
$desktop-break-point: 1200px;


$title-dark-color: #000000;
$title-light-color: #ffffff;

$text-dark-color-1: #000000;
$text-dark-color-2: #231f20;
$text-dark-color-3: #3f4144;

$decoration-color-1: #ef7330;

$main-font: Montserrat, sans-serif;
$text-font-1: Robot, sans-serif;

$title-h2-font-size: 58px;
$title-h3-font-size: 38px;
$title-h4-font-size: 12px;