$tablet-break-point: 768px;
$desktop-break-point: 1200px;


$title-dark-color: #000000;
$title-light-color: #ffffff;

$section-text-color: #231f20;

$mark-color: #ef7330;

$main-font: Montserrat, sans-serif;
$section-font: Robot, sans-serif;

$title-h2-font-size: 58px;
$title-h3-font-size: 38px;
$title-h4-font-size: 12px;