/* Utils */
@import 'utils/visually-hidden';
@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/placeholders';

/* Base */
@import 'base/normalize';
@import 'base/fonts';
@import 'base/base';
@import 'base/animate';

/* Layout */
@import 'layout/header';
@import 'layout/article';
@import 'layout/section';

/* Components */
@import 'components/dmytro';
@import 'components/darja';
@import 'components/eugeny';
@import 'components/ivan';
@import 'components/anna';
